# Caso queira as versões especificas aceda a src/requirements.txt
# Devido a erros de naturaza desconhecida, as versões foram fixadas na mais atual

astroid          
blinker           
certifi          
charset-normalizer 
click          
dill             
et_xmlfile     
Flask           
idna             
iniconfig      
isort             
itsdangerous     
Jinja2            
MarkupSafe      
mccabe           
numpy           
openpyxl        
packaging        
pandas          
pip               
platformdirs     
pluggy          
pylint           
pytest           
python-dateutil  
pytz              
requests         
six               
tomlkit         
tzdata          
urllib3         
Werkzeug         
xlrd             
